node_modules
attacksDashboard

client/javascripts/util/*.js*
client/javascripts/components/*.js*
client/javascripts/*.js*
test/*client.js*
client/stylesheets/*.css

.idea
npm-debug.log
tudo.txt
.DS_Store

