<!DOCTYPE html>
<html>
<head>
    <title>Attacks Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="scripts/es6-shim/es6-shim.min.js"></script>
    <script src="scripts/systemjs/dist/system-polyfills.js"></script>
    <script src="scripts/angular2/bundles/angular2-polyfills.js"></script>
    <script src="scripts/systemjs/dist/system.src.js"></script>
    <script src="scripts/rxjs/bundles/Rx.js"></script>
    <script src="scripts/angular2/bundles/angular2.dev.js"></script>
    <script src="scripts/jquery/dist/jquery.min.js"></script>
    <script src="scripts/ua-parser-js/dist/ua-parser.min.js"></script>
    <script src="scripts/lodash/lodash.js"></script>
    <script src="scripts/chartist/dist/chartist.min.js"></script>
    <link rel="stylesheet" href="scripts/chartist/dist/chartist.css">
    <link href="fonts/font-open-sans.css" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/data.css">
    <link rel="stylesheet" href="css/general.css">
    <script>
        System.config({
            packages: {
                app: {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('javascripts/app/main.js')
                .then(null, console.error.bind(console));
    </script>
</head>
<body>
<main-app>Loading...</main-app>
</body>
</html>