<div class="sources-data-row-container">
    <div class="sources-data-row-header-container">
        <div class="sources-data-row-header attacks-dashboard-text attacks-dashboard-sources-text">{{header}}</div>
    </div>
    <div class="sources-data-row-bar-value-container">
        <div class="sources-data-row-bar centralize-element-vertically" id="{{chartId}}"></div>
        <div class="sources-data-row-value attacks-dashboard-text attacks-dashboard-sources-text centralize-element-vertically">{{value}}</div>
    </div>
</div>



