<div class="sources-data-row-container">
    <div class="sources-data-row-header attacks-dashboard-text attacks-dashboard-sources-text">{{header}}</div>
    <div class="sources-data-row-bar-value-container">
        <div class="sources-data-row-bar-container centralize-element-vertically">
            <div id="{{chartId}}"></div>
        </div>
        <div class="sources-data-row-value-container centralize-element-vertically">
            <div class="attacks-dashboard-text attacks-dashboard-sources-text">{{value}}</div>
        </div>
    </div>
</div>



