<div class="sources-data-row-container">
    <div class="sources-data-row-header attacks-dashboard-text attacks-dashboard-sources-text">{{header}}</div>
    <div class="sources-data-row-bar-value-container">
        <div class="sources-data-row-bar-container">
            <div class="sources-data-row-bar" id="{{chartId}}"></div>
        </div>
        <div class="sources-data-row-value-container">
            <div class="sources-data-row-value attacks-dashboard-text attacks-dashboard-sources-text">{{value}}</div>
        </div>
    </div>
</div>



