<div class="types-data-element">
    <div class="types-data-element-image-container">
        <div class="image-circle-non-svg-container">
            <svg class="image-circle-container">
                <circle cx="50%" cy="50%" r="35%" class="image-circle"/>
            </svg>
            <img src="{{imagePath}}" alt="" class="types-data-image centralize-element-horizontally-vertically">
        </div>
    </div>
    <div class="types-data-element-data-container">
            <div class="types-data-element-data-number attacks-dashboard-text">{{number}}</div>
            <div *ngIf="secondWord === ''">
                <div class="types-data-element-data-word">
                    <div class="attacks-dashboard-text">{{firstWord}}</div>
                </div>
            </div>
            <div *ngIf="secondWord != ''">
                <div class="types-data-element-data-words">
                    <div class="attacks-dashboard-text">{{firstWord}}</div>
                    <div class="attacks-dashboard-text">{{secondWord}}</div>
                </div>
            </div>
    </div>
</div>

