<div class="types-data-element">
    <div class="types-data-element-image-container">
        <div class="image-circle-non-svg-container">
            <svg class="image-circle-container">
                <circle class="image-circle"/>
            </svg>
            <img src="images/webImage.png" alt="" class="types-data-image">
        </div>
    </div>
    <div class="types-data-element-data-container">
        <div class="types-data-element-data">
            <div class="types-data-element-header">{{number}}</div>
            <div class="types-data-element-number">{{header}}</div>
        </div>
    </div>
</div>

