<div class="types-data-element">
    <div class="types-data-element-image-container">
        <div class="image-circle-non-svg-container">
            <svg class="image-circle-container">
                <circle class="image-circle"/>
            </svg>
            <img src="{{imagePath}}" alt="" class="types-data-image centralize-element-horizontally-vertically">
        </div>
    </div>
    <div class="types-data-element-data-container">
        <div class="types-data-element-data">
            <div class="types-data-element-header attacks-dashboard-text">{{number}}</div>
            <div class="types-data-element-number attacks-dashboard-text">{{header}}</div>
        </div>
    </div>
</div>

