<div class="data-header-container">
    <div class="data-header attacks-dashboard-text centralize-element-vertically attacks-dashboard-header-text">
        {{header}}
    </div>
</div>
<div class="data-content-container">
    <div class="data-content-padding">
        <div class="data-box-content" *ngIf="header === 'TYPES'">
            <hr class="hr1">
            <hr class="hr2">
            <types-data [_data]="data"></types-data>
        </div>
        <div class="data-box-content" *ngIf="header === 'SEVERITIES'">
            <severities-data [_data]="data"></severities-data>
        </div>
        <div class="data-box-content" *ngIf="header === 'SOURCES (%)'">
            <sources-data [_data]="data"></sources-data>
        </div>
    </div>
</div>

