$header-background-color: #213C52;
$main-body-margins-color: #182934;
$main-body-background-color: #225279;
$data-row-header-height: 15%;
$data-row-height: 40%;
$sources-data-width: 20%;
$web-header-width: 10%;
$data-presentation-padding: 0.5%;
