.data-row {
    width: 100%;
    height: 30%;
}
.web-header {
    width: 10%;
}
.web-header-label {
    color: white;
    text-align: center;
    font-size: 1vw;
}
.web-header-label-div {
}
.web-header-element-div {
    width: 100%;
}
.web-header-image {
    width: 100%;
    height: 100%;
}



@media (screen and max-width: 768px){
    .web-header-image {
        display: none;
    }
}
