.data-row {
  width: 100%;
  height: 35%;
  float: left;
  padding-bottom: 15px;

  .data-presentation {
    padding-right: 0.5%;
    padding-left: 0.5%;
  }

  .web-header {
    width: 10%;
    float: left;
    .web-header-element-container {
      width: 100%;
      .web-header-label-container {
        height: 20%;
        position: relative;
        .web-header-label {
          font-size: 18px;
          width: 100%;
          text-align: center;

          @media screen and (max-width: 767px) {
            font-size: 12px;
          }
        }
      }
      .web-header-image {
        width: 100%;
        height: 80%;
      }
    }
  }

  .types-data {
    height: 100%;
    width: 33%;
    float: left;
  }
  .severities-data {
    height: 100%;
    width: 33%;
    float: left;
  }
  .sources-data {
    height: 100%;
    width: 20%;
    float: left;
  }
  .data-header-container {
    width: 100%;
    height: 20%;
    background-color: #213C52;
    position: relative;
    .data-header {
      padding-left: 5%;

      transform: translate(0%, -50%);
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
    }
  }
  .data-content-container {
    background-color: #224A6B;
    height: 80%;
    width: 100%;
    .data-content-padding {
      padding: 10px;
      //types
      .types-data-row {
        width: 100%;
        height: 33%;
        .types-data-element {
          width: 50%;
          float: left;
          .types-data-element-image-container {
            width: 20%;
            float: left;
            .image-circle-non-svg-container {
              position: relative;
              .image-circle-container {
                height: 100%;
                width: 100%;
                .image-circle {
                  stroke: white;
                  fill: #224A6B;
                  stroke-width: 2;
                  cx: 50%;
                  cy: 33%;
                  r: 33%;
                }
              }
              .types-data-image {
                width: 40%;
                height: 40%;
                position: absolute;
                left: 50%;
                top: 33%;
              }
            }
          }
          .types-data-element-data-container {
            width: 80%;
            float: left;
          }
        }
      }
      //severities
      .severities-chart-container {
        height: 70%;
      }
      .severities-data-row-container {
        height: 30%;
        margin-left: 5%;
        margin-right: 5%;
        position: relative;
        .severities-data-element-container-high {
          position: absolute;
          left: 0;
        }
        .severities-data-element-container-low {
          position: absolute;
          right: 0;
        }
      }
      //sources
      .sources-data-row-container {
        height: calc(18% - 4px);
        padding-bottom: 2%;
        .attacks-dashboard-sources-text {
          font-size: 12px;
          @media screen and(max-width: 767px) {
            font-size: 8px;
          }
        }
        .sources-data-row-header {
          height: 50%;
          width: 100%;
        }
        .sources-data-row-bar-value-container {
          height: 50%;
          width: 100%;
          position: relative;
          transform: translate(-10px, -0%);
          .sources-data-row-bar-container {
            width: 100%;
            position: absolute;
            left: 0%;
          }
          .sources-data-row-value-container {
            position: absolute;
            left: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  img, circle {
    display: none;
  }
}

.centralize-element-horizontally-vertically {
  position: absolute;
  top: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.centralize-element-vertically {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
}

.centralize-element-horizontally {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, -0%);
  -moz-transform: translate(-50%, -0%);
  -o-transform: translate(-50%, -0%);
}




















