.data-row {
    width: 100%;
    height: 35%;
    float: left;
    padding-bottom: 15px;

    .data-presentation {
        padding-right: 0.5%;
        padding-left: 0.5%;
    }

    .web-header {
        width: 10%;
        float: left;
        .web-header-element-div {
            width: 100%;
            .web-header-label {
                color: white;
                text-align: center;
                font-size: 1.5vw;
            }
            .web-header-image {
                width: 100%;
                height: 100%;
            }
        }
    }

    .types-data {
        height: 100%;
        width: 35%;
        float: left;
    }
    .severities-data {
        width: 35%;
        float: left;
    }
    .sources-data {
        width: 16%;
        float: left;
    }
    .data-header-container {
        width: 100%;
        height: 20%;
        background-color: #213C52;
        position: relative;
        .data-header {
            color: white;
            position: absolute;
            top: 50%;
            transform: translate(20%, -50%);
            -webkit-transform: translate(20%, -50%);
            -moz-transform: translate(20%, -50%);
            -o-transform: translate(20%, -50%);
        }
    }
    .data-content-container {
        background-color: #224A6B;
        height: 80%;
        width: 100%;
        .data-content-padding {
            padding: 10px;
        }
    }
}
























