@import 'variables';

.attacks-dashboard-text {
  color: $attacks-dashboard-text-color;
  font-size: $attacks-dashboard-text-size;
  font-family: 'Open Sans', sans-serif;
  @media only screen and(max-width: 767px) {
    font-size: $attacks-dashboard-mobile-text-size;
    @media only screen and (orientation: landscape){
      font-size: 3px;
    }
  }

}

.centralize-element-horizontally-vertically {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.centralize-element-vertically {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
}

.centralize-element-horizontally {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, -0%);
  -moz-transform: translate(-50%, -0%);
  -o-transform: translate(-50%, -0%);
}