@import 'variables';

body {
    margin: 0;
    height: 100%;

    #main-header {
        background-color: $header-background-color;
        width: 100%;
        height: 40px;
        #intsights-header {
            padding-left: 5px;
            padding-top: 10px;
            #int-header {
                color: red;
            }
            #sights-header {
                color: white;
            }
        }
    }

    #main-body-with-margins {
        background-color: #182934;
        width: 100%;
        height: 100%;
        #main-body-background {
            background-color: #225279;
            height: 100%;
            margin-left: 5%;
            margin-right: 5%;
            #main-body {
                padding-top: 5%;
                padding-bottom: 5%;
                padding-left: 2%;
                padding-right: 2%;
            }
        }
    }
    .attacks-dashboard-text {
        color: white;
        font-size: 14px;
        //font-family: "Times New Roman", Times, serif;
        @media screen and(max-width: 767px) {
            font-size: 7px;
        }
    }
}








