@import 'variables';

html,body {
    margin: 0;
    padding: 0;
    height: 100%;

    #main-header {
        background-color: $header-background-color;
        position: relative;
        width: 100%;
        height: $laptop-tablet-main-header-height;
        @media only screen and (max-width: 767px) {
            height: $mobile-main-header-height;
        }
        #intsights-header {
            position: absolute;
            left: 5px;
            #intsights-header-image {
                height: 50%;
            }
        }
    }

    #main-body-with-margins {
        background-color: $main-body-margins-color;
        width: 100%;
        height: calc(100% - #{$laptop-tablet-main-header-height});
        height: -webkit-calc(100% - #{$laptop-tablet-main-header-height});
        height: -moz-calc(100% - #{$laptop-tablet-main-header-height});
        height: -o-calc(100% - #{$laptop-tablet-main-header-height});
        #main-body-background {
            background-color: $main-body-background-color;
            height: 100%;
            margin-left: 5%;
            margin-right: 5%;overflow: auto;
            #main-body {
                padding-top: 5%;
                padding-bottom: 5%;
                padding-left: 2%;
                padding-right: 2%;
                height: 100%;
            }
        }
    }
    .attacks-dashboard-text {
        color: $attacks-dashboard-text-color;
        font-size: $attacks-dashboard-text-size;
        font-family: 'Open Sans', sans-serif;
        @media screen and(max-width: 767px) {
            font-size: $attacks-dashboard-mobile-text-size;
        }
    }
}








