$header-background-color: #213C52;
$laptop-tablet-main-header-height: 50px;
$mobile-main-header-height: 30px;
$main-header-height: 40px;
$main-body-margins-color: #182934;
$main-body-background-color: #225279;
$margin-between-main-header-and-data: 5%;

$margin-between-data-rows: 15px;
$data-presentation-padding: 0.5%;
$web-header-width: 10%;
$data-row-header-height: 15%;
$data-content-container-color: #224A6B;
$hr-border-color: #1F3A4F;
$data-content-padding-inside-box: 10px;

$types-data-row-height: 33.33%;
$types-data-row-padding-from-hr: 5px;
$types-data-element-image-container-width: 20%;
$margin-between-types-data-image-and-text: 5%;
$image-circle-height: 70%;
$circle-stroke-width: 5%;// need to be coordinated with types-data-element.components.ts, see that circle_stroke_radius is also the same

$severities-side-padding: 5%;
$severities-chart-high-color: #F05B4F;
$severities-chart-medium-color: #F3AB11;
$severities-chart-low-color: #41AFD5;

$sources-data-width: 20%;
$sources-data-row-seperate-text-and-value: -5px;

$attacks-dashboard-text-color: white;
$attacks-dashboard-text-size: 9px;
$attacks-dashboard-mobile-text-size: 5px;
$attacks-dashboard-mobile-landscape-text-size: 4px;
$div-text-automatic-padding: 4px;
$div-text-mobile-automatic-padding: 1px;
$attacks-dashboard-number-text-size: 11px;
$attacks-dashboard-number-mobile-text-size: 7px;

$types-severities-width: calc(((100% - #{$web-header-width} - #{$sources-data-width} - (#{$data-presentation-padding} * 8)) / 2));
$webkit-types-severities-width: -webkit-calc(((100% - #{$web-header-width} - #{$sources-data-width} - (#{$data-presentation-padding} * 8)) / 2));
$moz-types-severities-width: -moz-calc(((100% - #{$web-header-width} - #{$sources-data-width} - (#{$data-presentation-padding} * 8)) / 2));
$o-types-severities-width: -o-calc(((100% - #{$web-header-width} - #{$sources-data-width} - (#{$data-presentation-padding} * 8)) / 2));