.data-row {
  width: 100%;
  height: calc((100% - 50px - 15px) / 2);
  height: -webkit-calc((100% - 50px - 15px) / 2);
  height: -moz-calc((100% - 50px - 15px) / 2);
  height: -o-calc((100% - 50px - 15px) / 2);
  margin-bottom: 15px;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .data-row {
      height: calc((100% - 30px - 15px) / 2);
      height: -webkit-calc((100% - 30px - 15px) / 2);
      height: -moz-calc((100% - 30px - 15px) / 2);
      height: -o-calc((100% - 30px - 15px) / 2); } }
  .data-row .data-presentation {
    padding-right: 0.5%;
    padding-left: 0.5%; }
  .data-row .web-header {
    width: 10%;
    float: left;
    height: 100%; }
    .data-row .web-header .web-header-element-container {
      position: relative;
      width: 100%;
      height: 100%; }
      .data-row .web-header .web-header-element-container .web-header-label-container {
        height: 15%;
        width: 100%;
        position: relative; }
        .data-row .web-header .web-header-element-container .web-header-label-container .web-header-label {
          font-size: 18px;
          width: 100%;
          text-align: center; }
          @media screen and (max-width: 767px) {
            .data-row .web-header .web-header-element-container .web-header-label-container .web-header-label {
              font-size: 9px; } }
      .data-row .web-header .web-header-element-container .web-header-image-container {
        height: calc(100% - 15%);
        height: -webkit-calc(100% - 15%);
        height: -moz-calc(100% - 15%);
        height: -o-calc(100% - 15%); }
        .data-row .web-header .web-header-element-container .web-header-image-container .web-header-image {
          width: 100%;
          max-height: 100%; }
  .data-row .types-data {
    height: 100%;
    width: calc(((100% - 10% - 20% - (0.5% * 8)) / 2));
    width: -webkit-calc(((100% - 10% - 20% - (0.5% * 8)) / 2));
    width: -moz-calc(((100% - 10% - 20% - (0.5% * 8)) / 2));
    width: -o-calc(((100% - 10% - 20% - (0.5% * 8)) / 2));
    float: left; }
    .data-row .types-data hr {
      position: absolute;
      left: 0;
      margin: 0;
      width: 100%;
      border-color: #1F3A4F;
      border-left: 0;
      border-right: 0; }
    .data-row .types-data .hr1 {
      top: 33.33%; }
    .data-row .types-data .hr2 {
      top: calc(33.33% * 2);
      top: -webkit-calc(33.33% * 2);
      top: -moz-calc(33.33% * 2);
      top: -o-calc(33.33% * 2); }
    .data-row .types-data .types-data-row-container {
      width: 100%;
      height: 33.33%; }
      .data-row .types-data .types-data-row-container .types-data-row {
        height: calc(100% - 10px - 5px);
        height: -webkit-calc(100% - 10px - 5px);
        height: -moz-calc(100% - 10px - 5px);
        height: -o-calc(100% - 10px - 5px);
        width: 100%; }
        .data-row .types-data .types-data-row-container .types-data-row .types-data-element {
          width: 50%;
          height: 100%;
          float: left; }
          .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-image-container {
            width: 20%;
            height: 100%;
            margin-right: 5%;
            float: left; }
            @media screen and (max-width: 768px) {
              .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-image-container {
                display: none; } }
            .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-image-container .image-circle-non-svg-container {
              position: relative;
              height: 70%;
              width: 100%; }
              .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-image-container .image-circle-non-svg-container .image-circle-container {
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0; }
                .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-image-container .image-circle-non-svg-container .image-circle-container .image-circle {
                  stroke: white;
                  fill: #224A6B;
                  stroke-width: 2; }
              .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-image-container .image-circle-non-svg-container .types-data-image {
                width: 40%;
                height: 40%; }
          .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-data-container {
            width: calc(100% - 20% - 5%);
            width: -webkit-calc(100% - 20% - 5%);
            width: -moz-calc(100% - 20% - 5%);
            width: -o-calc(100% - 20% - 5%);
            height: 100%;
            position: relative;
            float: left; }
            .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-data-container .types-data-element-data-number {
              position: absolute;
              left: 0;
              font-size: 11px; }
              @media only screen and (max-width: 767px) {
                .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-data-container .types-data-element-data-number {
                  font-size: 7px; } }
  @media only screen and (max-width: 767px) and (orientation: landscape) {
    .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-data-container .types-data-element-data-number {
      top: -5px; } }
            .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-data-container .types-data-element-data-words {
              position: absolute;
              bottom: 0;
              left: 0; }
            .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-data-container .types-data-element-data-word {
              position: absolute;
              bottom: calc(9px + 4px);
              bottom: -webkit-calc(9px + 4px);
              bottom: -moz-calc(9px + 4px);
              bottom: -o-calc(9px + 4px);
              left: 0; }
              @media only screen and (max-width: 767px) {
                .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-data-container .types-data-element-data-word {
                  bottom: calc(5px + 1px);
                  bottom: -webkit-calc(5px + 1px);
                  bottom: -moz-calc(5px + 1px);
                  bottom: -o-calc(5px + 1px); } }
  @media only screen and (max-width: 767px) and (orientation: landscape) {
    .data-row .types-data .types-data-row-container .types-data-row .types-data-element .types-data-element-data-container .types-data-element-data-word {
      bottom: 0; } }
  .data-row .severities-data {
    height: 100%;
    width: calc(((100% - 10% - 20% - (0.5% * 8)) / 2));
    width: -webkit-calc(((100% - 10% - 20% - (0.5% * 8)) / 2));
    width: -moz-calc(((100% - 10% - 20% - (0.5% * 8)) / 2));
    width: -o-calc(((100% - 10% - 20% - (0.5% * 8)) / 2));
    position: absolute;
    left: 45%;
    left: calc((10% + calc(((100% - 10% - 20% - (0.5% * 8)) / 2)) + 4 * 0.5%));
    left: -webkit-calc((10% + -webkit-calc(((100% - 10% - 20% - (0.5% * 8)) / 2)) + 4 * 0.5%));
    left: -moz-calc((10% + -moz-calc(((100% - 10% - 20% - (0.5% * 8)) / 2)) + 4 * 0.5%));
    left: -o-calc((10% + -o-calc(((100% - 10% - 20% - (0.5% * 8)) / 2)) + 4 * 0.5%)); }
    .data-row .severities-data .severities-chart-container {
      width: 100%;
      height: calc(100% - (10px * 3) - ((9px + 4px) * 2));
      height: -webkit-calc(100% - (10px * 3) - ((9px + 4px) * 2));
      height: -moz-calc(100% - (10px * 3) - ((9px + 4px) * 2));
      height: -o-calc(100% - (10px * 3) - ((9px + 4px) * 2));
      position: relative; }
      @media only screen and (max-width: 767px) {
        .data-row .severities-data .severities-chart-container {
          height: calc(100% - (10px * 3) - ((5px + 1px) * 2));
          height: -webkit-calc(100% - (10px * 3) - ((5px + 1px) * 2));
          height: -moz-calc(100% - (10px * 3) - ((5px + 1px) * 2));
          height: -o-calc(100% - (10px * 3) - ((5px + 1px) * 2)); } }
      .data-row .severities-data .severities-chart-container .severities-chart {
        width: 100%;
        height: 100%; }
        .data-row .severities-data .severities-chart-container .severities-chart .ct-series-a path {
          stroke: #F05B4F; }
        .data-row .severities-data .severities-chart-container .severities-chart .ct-series-b path {
          stroke: #F3AB11; }
        .data-row .severities-data .severities-chart-container .severities-chart .ct-series-c path {
          stroke: #41AFD5; }
    .data-row .severities-data .severities-data-row-container {
      height: auto;
      height: calc(10px * 3 + ((9px + 4px) * 2));
      height: -webkit-calc(10px * 3 + ((9px + 4px) * 2));
      height: -webkit-calc(10px * 3 + ((9px + 4px) * 2));
      height: -webkit-calc(10px * 3 + ((9px + 4px) * 2));
      padding-left: 5%;
      position: relative;
      width: calc(100% - (5% * 3));
      width: calc(100% - (5% * 3));
      width: calc(100% - (5% * 3));
      width: calc(100% - (5% * 3)); }
      @media only screen and (max-width: 767px) {
        .data-row .severities-data .severities-data-row-container {
          height: calc(10px * 3 + ((5px + 1px) * 2));
          height: -webkit-calc(10px * 3 + ((5px + 1px) * 2));
          height: -webkit-calc(10px * 3 + ((5px + 1px) * 2));
          height: -webkit-calc(10px * 3 + ((5px + 1px) * 2)); } }
      .data-row .severities-data .severities-data-row-container .severities-data-row {
        position: absolute;
        width: 100%;
        height: calc((9px + 4px) * 2);
        height: -webkit-calc((9px + 4px) * 2);
        height: -moz-calc((9px + 4px) * 2);
        height: -o-calc((9px + 4px) * 2);
        bottom: calc(2 * 10px);
        bottom: -webkit-calc(2 * 10px);
        bottom: -moz-calc(2 * 10px);
        bottom: -o-calc(2 * 10px); }
        @media only screen and (max-width: 767px) {
          .data-row .severities-data .severities-data-row-container .severities-data-row {
            height: calc((5px + 1px) * 2);
            height: -webkit-calc((5px + 1px) * 2);
            height: -moz-calc((5px + 1px) * 2);
            height: -o-calc((5px + 1px) * 2); } }
        .data-row .severities-data .severities-data-row-container .severities-data-row .severities-elements-container {
          position: relative; }
          .data-row .severities-data .severities-data-row-container .severities-data-row .severities-elements-container .severities-data-element-container-high {
            position: absolute;
            left: 0; }
            .data-row .severities-data .severities-data-row-container .severities-data-row .severities-elements-container .severities-data-element-container-high .attacks-dashboard-text {
              color: #F05B4F; }
          .data-row .severities-data .severities-data-row-container .severities-data-row .severities-elements-container .severities-data-element-container-medium .attacks-dashboard-text {
            color: #F3AB11; }
          .data-row .severities-data .severities-data-row-container .severities-data-row .severities-elements-container .severities-data-element-container-low {
            position: absolute;
            right: 0; }
            .data-row .severities-data .severities-data-row-container .severities-data-row .severities-elements-container .severities-data-element-container-low .attacks-dashboard-text {
              color: #41AFD5; }
          .data-row .severities-data .severities-data-row-container .severities-data-row .severities-elements-container .severities-number-text {
            font-size: 11px; }
            @media only screen and (max-width: 767px) {
              .data-row .severities-data .severities-data-row-container .severities-data-row .severities-elements-container .severities-number-text {
                font-size: 7px; } }
  .data-row .sources-data {
    height: 100%;
    width: 20%;
    position: absolute;
    left: 79%;
    left: calc((10% + 2 * calc(((100% - 10% - 20% - (0.5% * 8)) / 2)) + 6 * 0.5%));
    left: -webkit-calc((10% + 2 * -webkit-calc(((100% - 10% - 20% - (0.5% * 8)) / 2)) + 6 * 0.5%));
    left: -moz-calc((10% + 2 * -moz-calc(((100% - 10% - 20% - (0.5% * 8)) / 2)) + 6 * 0.5%));
    left: -o-calc((10% + 2 * -o-calc(((100% - 10% - 20% - (0.5% * 8)) / 2)) + 6 * 0.5%));
    top: 0; }
    .data-row .sources-data .data-box-content-sources {
      height: calc((100% - 10px) / 5);
      height: -webkit-calc((100% - 10px) / 5);
      height: -moz-calc((100% - 10px) / 5);
      height: -o-calc((100% - 10px) / 5);
      width: 100%; }
      .data-row .sources-data .data-box-content-sources .sources-data-row-container {
        height: 100%; }
        .data-row .sources-data .data-box-content-sources .sources-data-row-container .sources-data-row-header-container {
          height: 50%;
          width: 100%; }
        .data-row .sources-data .data-box-content-sources .sources-data-row-container .sources-data-row-bar-value-container {
          height: 50%;
          width: 100%;
          position: relative; }
          .data-row .sources-data .data-box-content-sources .sources-data-row-container .sources-data-row-bar-value-container .sources-data-row-bar {
            height: 100%;
            width: 90%; }
            @media only screen and (max-width: 767px) and (orientation: landscape) {
              .data-row .sources-data .data-box-content-sources .sources-data-row-container .sources-data-row-bar-value-container .sources-data-row-bar {
                top: -7px; } }
          .data-row .sources-data .data-box-content-sources .sources-data-row-container .sources-data-row-bar-value-container .sources-data-row-value {
            position: absolute;
            right: -5px; }
            @media only screen and (max-width: 767px) and (orientation: landscape) {
              .data-row .sources-data .data-box-content-sources .sources-data-row-container .sources-data-row-bar-value-container .sources-data-row-value {
                top: 0; } }
  .data-row .data-header-container {
    width: 100%;
    height: 15%;
    background-color: #213C52;
    position: relative; }
    .data-row .data-header-container .data-header {
      padding-left: 5%;
      transform: translate(0%, -50%);
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%); }
    .data-row .data-header-container .attacks-dashboard-header-text {
      font-size: 14px; }
      @media screen and (max-width: 767px) {
        .data-row .data-header-container .attacks-dashboard-header-text {
          font-size: 8px; } }
  .data-row .data-content-container {
    background-color: #224A6B;
    height: calc(100% - 15%);
    height: -webkit-calc(100% - 15%);
    height: -moz-calc(100% - 15%);
    height: -o-calc(100% - 15%);
    width: 100%;
    position: relative; }
    .data-row .data-content-container .data-content-padding {
      padding-left: 10px;
      padding-right: 10px;
      height: 100%; }
      .data-row .data-content-container .data-content-padding .data-box-content {
        height: 100%;
        padding-top: 10px; }
