@import 'variables';

.data-row {
  width: 100%;
  height: calc((100% - #{$laptop-tablet-main-header-height} - #{$margin-between-data-rows}) / 2);
  height: -webkit-calc((100% - #{$laptop-tablet-main-header-height} - #{$margin-between-data-rows}) / 2);
  height: -moz-calc((100% - #{$laptop-tablet-main-header-height} - #{$margin-between-data-rows}) / 2);
  height: -o-calc((100% - #{$laptop-tablet-main-header-height} - #{$margin-between-data-rows}) / 2);
  @media only screen and (max-width: 767px) {
    height: calc((100% - #{$mobile-main-header-height} - #{$margin-between-data-rows}) / 2);
    height: -webkit-calc((100% - #{$mobile-main-header-height} - #{$margin-between-data-rows}) / 2);
    height: -moz-calc((100% - #{$mobile-main-header-height} - #{$margin-between-data-rows}) / 2);
    height: -o-calc((100% - #{$mobile-main-header-height} - #{$margin-between-data-rows}) / 2);
  }
  margin-bottom: $margin-between-data-rows;
  position: relative;
  .data-presentation {
    padding-right: $data-presentation-padding;
    padding-left: $data-presentation-padding;
  }
  .web-header {
    width: $web-header-width;
    float: left;
    height: 100%;
    .web-header-element-container {
      position: relative;
      width: 100%;
      height: 100%;
      .web-header-label-container {
        height: $data-row-header-height;
        width: 100%;
        position: relative;
        .web-header-label {
          font-size: 18px;
          width: 100%;
          text-align: center;
          @media screen and (max-width: 767px) {
            font-size: 9px;
          }
        }
      }
      .web-header-image-container {
        height: calc(100% - #{$data-row-header-height});
        height: -webkit-calc(100% - #{$data-row-header-height});
        height: -moz-calc(100% - #{$data-row-header-height});
        height: -o-calc(100% - #{$data-row-header-height});
        .web-header-image {
          width: 100%;
          max-height: 100%;
        }
      }
    }
  }
  .types-data {
    height: 100%;
    width: $types-severities-width;
    width: $webkit-types-severities-width;
    width: $moz-types-severities-width;
    width: $o-types-severities-width;
    float: left;
    hr {
      position: absolute;
      left: 0;
      margin: 0;
      width: 100%;
      border-color: $hr-border-color;
      border-left: 0;
      border-right: 0;
    }
    .hr1 {
      top: $types-data-row-height;
    }
    .hr2 {
      top: calc(#{$types-data-row-height} * 2);
      top: -webkit-calc(#{$types-data-row-height} * 2);
      top: -moz-calc(#{$types-data-row-height} * 2);
      top: -o-calc(#{$types-data-row-height} * 2);
    }

    .types-data-row-container {
      width: 100%;
      height: $types-data-row-height;
      .types-data-row {
        height: calc(100% - #{$data-content-padding-inside-box} - #{$types-data-row-padding-from-hr});
        height: -webkit-calc(100% - #{$data-content-padding-inside-box} - #{$types-data-row-padding-from-hr});
        height: -moz-calc(100% - #{$data-content-padding-inside-box} - #{$types-data-row-padding-from-hr});
        height: -o-calc(100% - #{$data-content-padding-inside-box} - #{$types-data-row-padding-from-hr});
        width: 100%;
        .types-data-element {
          width: 50%;
          height: 100%;
          float: left;
          .types-data-element-image-container {
            @media screen and (max-width: 991px) {
              display: none;
            }
            width: $types-data-element-image-container-width;
            height: 100%;
            margin-right: $margin-between-types-data-image-and-text;
            float: left;
            .image-circle-non-svg-container {
              position: relative;
              height: $image-circle-height;
              width: 100%;
              .image-circle-container {
                height: 100%;
                width: 100%;
                .image-circle {
                  stroke: white;
                  fill: $data-content-container-color;
                  stroke-width: $circle-stroke-width;
                  cx: 50%;
                  cy: 50%;
                  r: calc((100% - 2 *#{$circle-stroke-width}) / 2);
                  r: -webkit-calc((100% - 2 *#{$circle-stroke-width}) / 2);
                  r: -moz-calc((100% - 2 *#{$circle-stroke-width}) / 2);
                  r: -o-calc((100% - 2 *#{$circle-stroke-width}) / 2);
                }
              }
              .types-data-image {
                width: calc((100% - 2 *#{$circle-stroke-width}) / 2);
                width: -webkit-calc((100% - 2 *#{$circle-stroke-width}) / 2);
                width: -moz-calc((100% - 2 *#{$circle-stroke-width}) / 2);
                width: -o-calc((100% - 2 *#{$circle-stroke-width}) / 2);
                height: auto;
              }
            }
          }
          .types-data-element-data-container {
            width: calc(100% - #{$types-data-element-image-container-width} - #{$margin-between-types-data-image-and-text});
            width: -webkit-calc(100% - #{$types-data-element-image-container-width} - #{$margin-between-types-data-image-and-text});
            width: -moz-calc(100% - #{$types-data-element-image-container-width} - #{$margin-between-types-data-image-and-text});
            width: -o-calc(100% - #{$types-data-element-image-container-width} - #{$margin-between-types-data-image-and-text});
            height: 100%;
            position: relative;
            float: left;
            .types-data-element-data-number {
              position: absolute;
              left: 0;
              font-size: $attacks-dashboard-number-text-size;
              @media only screen and(max-width: 767px) {
                font-size: $attacks-dashboard-number-mobile-text-size;
                @media only screen and(orientation: landscape) {
                  top: -7px;
                }
              }
            }
            .types-data-element-data-words {
              position: absolute;
              bottom: 0;
              left: 0;
            }
            .types-data-element-data-word {
              position: absolute;
              bottom: calc(#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding});
              bottom: -webkit-calc(#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding});
              bottom: -moz-calc(#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding});
              bottom: -o-calc(#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding});
              left: 0;
              @media only screen and (max-width: 767px) {
                bottom: calc(#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding});
                bottom: -webkit-calc(#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding});
                bottom: -moz-calc(#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding});
                bottom: -o-calc(#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding});
                @media only screen and (orientation: landscape) {
                  bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .severities-data {
    height: 100%;
    width: $types-severities-width;
    width: $webkit-types-severities-width;
    width: $moz-types-severities-width;
    width: $o-types-severities-width;
    position: absolute;
    left: 45%; //safari doesnt support calc inside calc
    left: calc((#{$web-header-width} + #{$types-severities-width} + 4 * #{$data-presentation-padding}));
    left: -webkit-calc((#{$web-header-width} + #{$webkit-types-severities-width} + 4 * #{$data-presentation-padding}));
    left: -moz-calc((#{$web-header-width} + #{$moz-types-severities-width} + 4 * #{$data-presentation-padding}));
    left: -o-calc((#{$web-header-width} + #{$o-types-severities-width} + 4 * #{$data-presentation-padding}));
    .severities-chart-container {
      width: 100%;
      height: calc(100% - (#{$data-content-padding-inside-box} * 3) - ((#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding}) * 2));
      height: -webkit-calc(100% - (#{$data-content-padding-inside-box} * 3) - ((#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding}) * 2));
      height: -moz-calc(100% - (#{$data-content-padding-inside-box} * 3) - ((#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding}) * 2));
      height: -o-calc(100% - (#{$data-content-padding-inside-box} * 3) - ((#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding}) * 2));
      position: relative;
      @media only screen and (max-width: 767px) {
        height: calc(100% - (#{$data-content-padding-inside-box} * 3) - ((#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding}) * 2));
        height: -webkit-calc(100% - (#{$data-content-padding-inside-box} * 3) - ((#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding}) * 2));
        height: -moz-calc(100% - (#{$data-content-padding-inside-box} * 3) - ((#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding}) * 2));
        height: -o-calc(100% - (#{$data-content-padding-inside-box} * 3) - ((#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding}) * 2));
      }
      .severities-chart {
        width: 100%;
        height: 100%;
        .ct-series-a path {
          stroke: $severities-chart-high-color;
        }
        .ct-series-b path {
          stroke: $severities-chart-medium-color;
        }
        .ct-series-c path {
          stroke: $severities-chart-low-color;
        }
      }
    }
    .severities-data-row-container {
      height: auto;
      height: calc(#{$data-content-padding-inside-box} * 3 + ((#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding}) * 2));
      height: -webkit-calc(#{$data-content-padding-inside-box} * 3 + ((#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding}) * 2));
      height: -webkit-calc(#{$data-content-padding-inside-box} * 3 + ((#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding}) * 2));
      height: -webkit-calc(#{$data-content-padding-inside-box} * 3 + ((#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding}) * 2));
      @media only screen and (max-width: 767px) {
        height: calc(#{$data-content-padding-inside-box} * 3 + ((#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding}) * 2));
        height: -webkit-calc(#{$data-content-padding-inside-box} * 3 + ((#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding}) * 2));
        height: -webkit-calc(#{$data-content-padding-inside-box} * 3 + ((#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding}) * 2));
        height: -webkit-calc(#{$data-content-padding-inside-box} * 3 + ((#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding}) * 2))
      }
      padding-left: $severities-side-padding;
      position: relative;
      width: calc(100% - (#{$severities-side-padding} * 3));
      width: calc(100% - (#{$severities-side-padding} * 3));
      width: calc(100% - (#{$severities-side-padding} * 3));
      width: calc(100% - (#{$severities-side-padding} * 3));
      .severities-data-row {
        position: absolute;
        width: 100%;
        height: calc((#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding}) * 2);
        height: -webkit-calc((#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding}) * 2);
        height: -moz-calc((#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding}) * 2);
        height: -o-calc((#{$attacks-dashboard-text-size} + #{$div-text-automatic-padding}) * 2);
        bottom: calc(2 * #{$data-content-padding-inside-box});
        bottom: -webkit-calc(2 * #{$data-content-padding-inside-box});
        bottom: -moz-calc(2 * #{$data-content-padding-inside-box});
        bottom: -o-calc(2 * #{$data-content-padding-inside-box});
        @media only screen and (max-width: 767px) {
          height: calc((#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding}) * 2);
          height: -webkit-calc((#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding}) * 2);
          height: -moz-calc((#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding}) * 2);
          height: -o-calc((#{$attacks-dashboard-mobile-text-size} + #{$div-text-mobile-automatic-padding}) * 2);
        }
        .severities-elements-container {
          position: relative;
          .severities-data-element-container-high {
            position: absolute;
            left: 0;
            .attacks-dashboard-text {
              color: $severities-chart-high-color;
            }
          }
          .severities-data-element-container-medium {
            .attacks-dashboard-text {
              color: $severities-chart-medium-color;
            }
          }
          .severities-data-element-container-low {
            position: absolute;
            right: 0;
            .attacks-dashboard-text {
              color: $severities-chart-low-color;
            }
          }
          .severities-number-text {
            font-size: $attacks-dashboard-number-text-size;
            @media only screen and(max-width: 767px) {
              font-size: $attacks-dashboard-number-mobile-text-size;
            }
          }
        }
      }
    }
  }
  .sources-data {
    height: 100%;
    width: $sources-data-width;
    position: absolute;
    left: 79%; //safari doesnt support calc inside calc
    left: calc((#{$web-header-width} + 2 * #{$types-severities-width} + 6 * #{$data-presentation-padding}));
    left: -webkit-calc((#{$web-header-width} + 2 * #{$webkit-types-severities-width} + 6 * #{$data-presentation-padding}));
    left: -moz-calc((#{$web-header-width} + 2 * #{$moz-types-severities-width} + 6 * #{$data-presentation-padding}));
    left: -o-calc((#{$web-header-width} + 2 * #{$o-types-severities-width} + 6 * #{$data-presentation-padding}));
    top: 0;
    .data-box-content-sources {
      height: calc((100% - #{$data-content-padding-inside-box}) / 5);
      height: -webkit-calc((100% - #{$data-content-padding-inside-box}) / 5);
      height: -moz-calc((100% - #{$data-content-padding-inside-box}) / 5);
      height: -o-calc((100% - #{$data-content-padding-inside-box}) / 5);
      width: 100%;
      .sources-data-row-container {
        height: 100%;

        .sources-data-row-header-container {
          height: 50%;
          width: 100%;
        }
        .sources-data-row-bar-value-container {
          height: 50%;
          width: 100%;
          position: relative;
          .sources-data-row-bar {
            height: 100%;
            width: 90%;
            @media only screen and(max-width: 767px) and (orientation: landscape) {
              top: -5px;
            }
          }
          .sources-data-row-value {
            position: absolute;
            right: $sources-data-row-seperate-text-and-value;
            @media only screen and(max-width: 767px) and (orientation: landscape) {
              top: 0;
            }
          }
        }
      }
    }
  }
  .data-header-container {
    width: 100%;
    height: $data-row-header-height;
    background-color: $header-background-color;
    position: relative;
    .data-header {
      padding-left: 5%;
      transform: translate(0%, -50%);
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
    }
    .attacks-dashboard-header-text {
      font-size: 14px;
      @media screen and (max-width: 767px) {
        font-size: 8px;
      }
    }
  }
  .data-content-container {
    background-color: $data-content-container-color;
    height: calc(100% - #{$data-row-header-height});
    height: -webkit-calc(100% - #{$data-row-header-height});
    height: -moz-calc(100% - #{$data-row-header-height});
    height: -o-calc(100% - #{$data-row-header-height});
    width: 100%;
    position: relative;
    .data-content-padding {
      padding-left: $data-content-padding-inside-box;
      padding-right: $data-content-padding-inside-box;
      height: 100%;
      .data-box-content {
        height: 100%;
        padding-top: $data-content-padding-inside-box;
      }
    }
  }
}






















